/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Tailwind CSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: black;
}


/* Custom Classes */


/* .bg-primary {
    background-color: #ef4444 !important;
} */


/* .hover\:text-primary:hover {
    color: #ef4444 !important;
}

.border-primary {
    border-color: #ef4444 !important;
}

.text-primary {
    color: #ef4444 !important;
} */

.bg-neutral-light {
    background-color: rgb(238, 238, 238) !important;
}

.subscribe {
    background-color: rgba(84, 84, 84, 0.451) !important;
    height: 200px !important;
}

.footerSubscribeInput {
    border-bottom: 1px solid white !important;
}

.subscribeButton {
    margin-left: 50px;
}

.deleteColor {
    color: red !important;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.ms-menu-container {
    box-shadow: 1px 0 5px 1px rgba(0, 0, 0, 0.1);
}

.shopCategory {
    padding: 10.5px;
    margin-top: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
    margin-left: 100px !important;
}

.item {
    padding-top: 3rem;
}

.itemList {
    color: rgb(177, 177, 177);
}

.item1 {
    grid-row: span 2;
}

.product-title {
    margin: 5px 0px;
    font-size: 28px;
    line-height: normal;
    letter-spacing: -1.12px;
    color: #1a2024 !important;
}

.pdp-title-extra-info {
    margin-top: 2px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: -0.48px;
    text-align: left;
    color: #4a5157;
    display: block;
}

.counter {
    background-color: #ef4444;
    border-radius: 50%;
    color: black;
    display: block;
    font-size: 10px;
    font-weight: 500;
    height: 16px;
    margin-left: 18px;
    line-height: 16px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    top: 10px;
    white-space: nowrap;
    width: 16px;
    z-index: 100;
}

.disabled {
    background-color: #e0e0e0 !important;
    cursor: not-allowed;
    color: #000;
}

.product-desc {
    margin-top: 6px;
    font-size: 13px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.5px;
    text-align: left;
    color: #4a5157;
}

.header-banner-content {
    max-width: 500px !important;
}

.product-add-view {
    display: flex !important;
    flex-direction: row;
    background-color: black;
    border: 1px solid #ea0a0a;
}

.page-title .entry-title-main {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
    float: left;
    width: 100%;
}

.breadcrumb span,
.breadcrumbs a,
.breadcrumbs span {
    font-size: 13px;
    line-height: 1.25;
    text-align: right;
    margin: 6px 0;
    color: #000;
    font-weight: normal;
    padding: 0 5px;
}

.product-info {
    position: relative;
    background: rgba(239, 68, 68, 0.13);
    color: #5e7f96;
    border: 1px solid rgba(239, 68, 68, 0.57);
    border-top: 2px solid #ef4444;
    clear: both;
    font-size: 13px;
    padding: 1em;
    padding-left: 40px;
}

.product-info::before {
    content: "i";
    font-family: Times, Georgia, serif;
    font-style: italic;
    height: 2.2em;
    width: 1.5em;
    display: block;
    position: absolute;
    top: 0;
    left: 1em;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    color: #fff;
    padding-top: .9em;
}


/* Media Queries */

@media screen and (max-width: 480px) {
    .container {
        max-width: 640px;
    }
    body {
        background-color: #ffffff;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 768px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) and (max-width: 1535px) {
    .container {
        max-width: 1280px;
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
        padding-right: 70px;
        padding-left: 70px;
    }
}


/* Other Styles */

html {
    scroll-behavior: smooth;
}

.loader {
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
}

.loader .circle {
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: #ef4444;
    border-radius: 50%;
    position: absolute;
}

.loader .circle:nth-child(1) {
    top: 0;
    left: 0;
}

.loader .circle:nth-child(2) {
    top: 0;
    right: 0;
}

.loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
}

.loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
}

@keyframes spin988 {
    0% {
        transform: scale(1) rotate(0);
    }
    20%,
    25% {
        transform: scale(1.3) rotate(90deg);
    }
    45%,
    50% {
        transform: scale(1) rotate(180deg);
    }
    70%,
    75% {
        transform: scale(1.3) rotate(270deg);
    }
    95%,
    100% {
        transform: scale(1) rotate(360deg);
    }
}

.hiddenScrollbar::-webkit-scrollbar {
    display: none;
}

.hiddenScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hover\:text-primary {
    color: #ef4444 !important;
}